body {
    font-family: 'Roboto', sans-serif, 'Noto Sans TC';
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

header {
    background-color: $header-primary-background-color;
    position: relative;
    .container {
        max-width: $desktop-width;
        margin: 0 auto;
        padding: 16px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .glasses-logo {
        height: 50px;
        &:hover {
            opacity: 0.7;
        }
    }
    .ham-toggle {
        visibility: hidden;
    }
    .menu-list {
        display: flex;
        gap: 64px;
        font-size: 20px;
        line-height: 30px;
        a {
            color: $nav-menu-text-color;
            &:hover {
                color: $nav-menu-text-color--hover;
            }
        }
    }
}

/*
    ham-menu
*/
@media screen and (max-width: $mobile-width) {
    @include ham-menu;
}

footer {
    background-color: $footer-primary-background-color;
    color: $footer-primary-text-color;
    font-size: 16px;
    line-height: 24px;
    .container {
        max-width: $desktop-width;
        margin: 0 auto;
        padding: 60px 12px 32px 12px;
        @include mobile {
            padding: 24px 14px;
        }
    }
    .footer-content {
        border-bottom: 1px solid #FFFFFF;
        @include mobile {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: start;
            gap: 8px 0;
            padding-bottom: 32px;
        }
    }
    .footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .webmap-list {
        display: flex;
        gap: 48px;
        @include mobile {
            display: none;
        }
        .webmap-link {
            color: #fff;
        }
    }
    .social-list {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        @include mobile {
            gap: 8px;
        }
        img {
            width: 48px;
            height: 48px;
            @include mobile {
                width: 24px;
                height: 24px;
            }
        }
    }
    .contact {
        font-size: 36px;
        line-height: 54px;
        padding: 36px 0 32px 0;
        gap: 8px 0;
        @include mobile {
            font-size: 16px;
            line-height: 24px;
            padding: 0px;
        }
        li {
            display: flex;
            align-items: center;
            gap: 22px;
            @include mobile {
                gap: 11px;
            }
        }
        a {
            color: #fff;
        }
    }
    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        @include mobile {
            display: block;
            padding-top: 16px;
            gap: 8px 0px;
        }
        ul {
            display: flex;
            gap: 48px;
            @include mobile {
                display: block;
            }
        }
    }
}