// 斷點
$desktop-width: 1296px;
$pad-width: 992px;
$mobile-width: 767px;
// header
$header-primary-background-color: #AA0601;
$nav-menu-text-color: #fff;
$nav-menu-text-color--hover: #c8c8ec;
$ham-icon-color--bar: #fff;
$ham-icon-color--background: #AA0601;
$ham-menu-color--border: #fff;
$ham-menu-color--background: #AA0601;
// footer
$footer-primary-background-color: #AA0601;
$footer-primary-text-color: #fff;